<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="go-to-settings-cordova-plugin"
    version="1.0.0">
    <name>Go To Settings Cordova Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="GoToSettingsPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="GoToSettingsPlugin">
          <param name="android-package" value="org.apache.cordova.GoToSettingsPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/org/apache/cordova/GoToSettingsPlugin.java" target-dir="src/org/apache/cordova" />
    </platform>
</plugin>
